<div class="about">
  <div class="aboutContent">
    <p><span class="aboutContentFirst">S</span>ome Content Right Here, descriptions n stuff, and some more random text goes here, just to fill up these stupid space and to make the texts look natural, Some Content Right Here, descriptions n stuff, and some more random text goes here, just to fill up these stupid space and to make the texts look natural, Some Content Right Here, descriptions n stuff, and some more random text goes here, just to fill up these stupid space and to make the texts look natural, ace and to make the texts look natural, Some Content Right Here, descriptions n stuff, and some more random text goes here, just to fill up these stupid space and to make the texts look natural, text goes here, just to fill up these stupid space</p>
  </div>
  <div class="aboutImg">
    <img src="img/profile.jpg" alt="profile" width="100%"></img>
  </div>

</div>