<div class="edu">
  <div class="eduList">
    <div class="eduListImg">
      <img src="img/brown.png" width="200"></img>
    </div>
    <div class="eduListContent contentLeft">
      <h3>brown university</h3>
      <ul>
        <li>master of science (ms), computer science</li>
        <li>providence, rhode island</li>
        <li>2015 - </li>
      </ul>
    </div>
  </div>
  <div class="eduList">
    <div class="eduListContent contentRight">
      <h3>rhode island school of design</h3>
      <ul>
        <li>SIGDS program, identity & branding design</li>
        <li>providence, rhode island</li>
        <li>2015.7 - 2015.8</li>
        <li><a href="" class="risdCourseButton">1 major course</a></li>
      </ul>
      <ul class="eduListContentCourse" id="risdCourse">
        <li>identity and branding design</li>
      </ul>
    </div>
    <div class="eduListImg">
      <img src="img/risd.png" width="140"></img>
    </div>
  </div>
  <div class="eduList">
    <div class="eduListImg" id="uclaImg">
      <img src="img/ucla.png" width="200"></img>
    </div>
    <div class="eduListContent contentLeft" id="lastContent">
      <h3>university of california, los angeles</h3>
      <ul>
        <li>bachelor of science (bs), computational mathematics</li>
        <li>major gpa: 3.7/4</li>
        <li>los angeles, california</li>
        <li>2011 - 2015</li>
        <li><a href="" class="uclaCourseButton">23 major courses</a></li>
      </ul>
      <div class="eduListContentCourse" id="uclaCourse">
        <ul>
          <li>math 32a, 32b: multivariable calculus</li>
          <li>math 33a: intro to linear algebra</li>
          <li>math 33b: differential equation</li>
          <li>physics 1a: mechanics</li>
          <li>physics 1b: wave and oscillation</li>
          <li>chem 20A: atomic structure</li>
          <li>pic 10a,b,c: intro/intermediate/advanced C++</li>
          <li>pic 40a: web programming</li>
          <li>math 115A: linear algebra</li>
          <li>math 131A: real analysis</li>
          <li>math 132: complex analysis</li>
        </ul>
        <ul>
          <li>math 134: nonlinear system</li>
          <li>math 142: mathematical modeling</li>
          <li>math 151A, 151B: numerical methods</li>
          <li>math 155: digital image processing</li>
          <li>math 164: optimization</li>
          <li>math 170a,b: probability theory</li>
          <li>cs 118: computer network</li>
          <li>cs 143: database management system</li>
          <li>cs 144: web application</li>
          <li>cs 170A: computer methods</li>
          <li>cs 180: algorithm and complexity</li>
          <li>cs 181: automata theory</li>
        </ul>
      </div>
    </div>
  </div>
</div>