<div class="exp">
  <div class="expList">
    <div class="expListImg">
      <img src="img/uclastartup.png" width="200"></img>
    </div>
    <div class="expListContent contentLeft">
      <h3>team initiator/technical director</h3>
      <ul>
        <li>ucla startup</li>
        <li>2013.5 - 2014.5</li>
        <li>startup & internet</li>
      </ul>
      <ol class="expListContentThing" id="uclaStartupThing">
        <li>Wrote a 2000-line console application (in C++) to simulate the basketball ranking system, which ranks the basketball enthusiasts based on their statistics on court, and also provides functionalities including “Find a Match”, “Find a Court” etc.</li>
        <li>Pitch the blueprint of project Hierarchy to UCLA Startup and got into the second round</li>
        <li>Did front-end design(UI/UX) for 10 pages of application and back-end (users and databases) design on “Hierarchy”</li>
      </ol>
    </div>
  </div>
  <div class="expList">
    <div class="expListContent contentRight">
      <h3>project specialist</h3>
      <ul>
        <li>sap se</li>
        <li>2014.6 - 2014.9</li>
        <li>entrepreneur & internet</li>
      </ul>
      <ol class="expListContentThing" id="sapThing">
        <li>Created and maintained roles and authorization in about 5 SAP modules (SAP ECC, BW, GTS, DU1, PU1...) through SAP NetWeaver including Transaction Codes: SU01, SU10, PFCG, SE16, SM12, SUIM</li>
        <li>Helped designing and analyzing the risks/conflicts of nearly 200 composite roles for Cardinal Health Inc during project Penguin</li>
        <li>Processed numbers of tickets and role requests by performing the role analysis and system simulations in PM1</li>
      </ol>
    </div>
    <div class="expListImg">
      <img src="img/sap.png" width="140"></img>
    </div>
  </div>
  <div class="expList">
    <div class="expListImg" id="uclaImg">
      <img src="img/sl.png" width="110"></img>
    </div>
    <div class="expListContent contentLeft">
      <h3>web developer</h3>
      <ul>
        <li>schoolinks inc</li>
        <li>2014.4 - 2014.6</li>
        <li>internet</li>
      </ul>
        <ol class="expListContentThing" id="slThing">
          <li>Revamped the entire database structure with teammates by rebuilding the Entity-Relationship Diagram from scratch containing 5 main categories, 87 database tables with approximately 500 data fields</li>
          <li>Formulated a comprehensive Google SEO strategies by efficiently organizing the approximately 100 path names of web pages, speeding up the site loading time by various techniques like “combining css”, “deferring javascript” etc, refining keyword searching (title, meta-tags and footer), and resolving crawl errors (including server errors, web page errors etc)</li>
          <li>Designed and carried out 20 email templates through HTML and CSS, and implement them with Mandrill API in the back-end</li>
          <li>Come up with several new features and layouts including “departments”, “company pages”, “my chances” etc</li>
          <li>pCreated a 5-star-rating ranking algorithm (in php), which utilizes Wilson Confidence algorithm and eliminates outliers</li>
        </ol>
    </div>
  </div>
  <div class="expList">
    <div class="expListContent contentRight" id="lastContent">
      <h3>project specialist</h3>
      <ul>
        <li>english first</li>
        <li>2012.6 - 2012.9</li>
        <li>software & education</li>
      </ul>
      <ol class="expListContentThing" id="efThing">
        <li>Wrote approximately 15 database files of teaching content and audio materials in JSON format, and connect the backend data to the IOS application “Engage” through its API</li>
        <li>Implementing Amazon cloud server EC3, S3 and participating in deciding database structure for iOS application “Engage”</li>
        <li>Designed and carried out 20 email templates through HTML and CSS, and implement them with Mandrill API in the back-end</li>
      </ol>
    </div>
    <div class="expListImg">
      <img src="img/ef.png" width="140"></img>
    </div>
  </div>
</div>