<div class="skill">
  <div class="skillList">
    <div class="skillListContent">
      <h3>prgramming</h3>
      <ol>
        <li>proficient: c++, html, css, javascript, sql</li>
        <li>familiar with: angularjs, ruby on rails, java servlet, java, ruby, python, git</li>
        <li>have knowledge of: c, bash, php, matlab</li>
      </ol>
    </div>

    <div class="skillListContent skillContentRight">
      <h3>computer science</h3>
      <ol>
        <li>proficient: database system, web application</li>
        <li>familiar with: algorith design, theory of computing</li>
        <li>have knowledge of: network programming</li>
      </ol>
    </div>

    <div class="skillListContent">
      <h3>design</h3>
      <ol>
        <li>love drawings, patterns, logos and webpages design</li>
        <li><a href="http://callmeqwer.deviantart.com/" target="_blank">my deviant art</a></li>
      </ol>
    </div>

    <div class="skillListContent skillContentRight">
      <h3>dj</h3>
      <ol>
        <li>i do dj mixing, mainly for electronic music, including mostly deep house, house, dubstep...</li>
        <li>my mixing soundtracks are coming out soon!</li>
        <li>my favorite djs are: kaskade, oliver heldens, flume, deadmau5</li>
      </ol>
    </div>

    <div class="skillListContent">
      <h3>gaming</h3>
      <ol>
        <li>I love playing games, and I won the first place in competative game Dota representing team UCLA as the team captain.</li>
        <li>my favorite games: dota, warcraft, crysis, mount & blade</li>
      </ol>
    </div>
    
  </div>
</div>